/* Selector Universal */
*{
    padding: 0;
    margin: 0;
}

/* Selector de etiqueta */

body{
    background-color: #ccebf5;
}

ul{ 
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 1.5em;
}



/*Selector de clase*/ 

.aside{
    background-color: #7ec2df;
    margin: 0em;
    color: white;
    vertical-align: top;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
}

.contenido{
    background-color: white;
    margin: 0em;
    text-align: center;
    color: black;
    display: inline-block;
}

.encabezado-articulo{
    text-align: center;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1em 1em;
}

.encabezado-aside{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1.4em 1.4em;
    color: white;
    font-size: 20px;
}

.colormenu{
    color:white;
    font-weight: bold;
    text-decoration: none;
}
nav a:hover{
    color: #ffffffa9;
}

.barraNavegacion{
    background-color: #0d2d56;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 5px 38px;
    color: black;
    line-height: 2;
    }

.textoaside{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 5px 25px;
    color: white;
    line-height: 2;
    text-decoration: underline;
    
}
.encabezadologo{
    display: inline-block;
    vertical-align: middle;
    padding-top: 15px;
}

.pie{
    background-color:#0d2d56;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    padding: 5px;
    padding-top: 33px;
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
}

.fecha-art{
    display: block; 
    padding-left: 20px;
    font-style: italic; 
    color: white; 
    text-align: left;
}

.sombreadoimg{
    box-shadow: 0px 0 8px #0000006e, 0px 0 8px #0000006e;
}

/* Selector ID */


#contenedor{
    width: 1200px;
    height: 1700px;
    max-width: 0 auto;
    background-color: #0d2d56;
    box-shadow: -1px 0 10px #0000008f, 1px 0 10px #0000008f;

}

#tituloencabezado{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 45px;
    padding-top: 0px;
    padding-left: 17px;
    display: inline-block;
    vertical-align: middle;
}

#encabezado {
    height: 152px;
    background-color:#0574b5;
}

#menu{
    height: 63px;
}

#contenido{
    height: 1370px;
    width: 64.5%; 
}

#fueraSeccion{
    height: 1370px;
    width: 35.168%;
}

#pie{
    height: 90px;
}