/* Selector Universal */
*{
    padding: 0;
    margin: 0;
}

/* Selector de etiqueta */

body{
    background-color: #ccebf5;
}

ul{ 
    padding: 15px;
    font-size: 20px;
    text-align: center;
}

li{
    display: inline;
    padding: 10px 30px;
    margin: 1.5em;
}



/*Selector de clase*/ 

.aside{
    background-color: #7ec2df;
    margin: 0em;
    color: white;
    vertical-align: top;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
}

.contenido{
    background-color: white;
    margin: 0em;
    text-align: center;
    color: black;
    display: inline-block;
}

.encabezado-articulo{
    text-align: center;
    color:black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    font-size: 25px;
}

.encabezado-aside{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 1.4em 1.4em;
    color: white;
    font-size: 20px;
}

.colormenu{
    color:white;
    font-weight: bold;
    text-decoration: none;
}
nav a:hover{
    color: #ffffffa9;
}

.barraNavegacion{
    background-color: #0d2d56;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.texto {
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 5px 38px;
    color: black;
    line-height: 2;
    }

    .texto2 {
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16.5px;
        padding-right: 11px;
        color: black;
        line-height: 2;
        }
    

.textoaside{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding: 5px 25px;
    color: white;
    line-height: 2;
    text-decoration: underline;
    
}
.encabezadologo{
    display: inline-block;
    vertical-align: middle;
    padding-top: 15px;
}

.pie{
    background-color:#0d2d56;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: white;
    padding: 5px;
    padding-top: 33px;
    padding-bottom: 20px;
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;

}

.fecha-art{
    display: block; 
    padding-left: 20px;
    font-style: italic; 
    color: white; 
    text-align: left;
}



/* Selector ID */


#contenedor{
    width: 1200px;
    height: 1010px;
    max-width: 0 auto;
    background-color: #0d2d56;
    
    box-shadow: -1px 0 10px #0000004f, 1px 0 10px #00000055;


}

#tituloencabezado{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 45px;
    padding-top: 0px;
    padding-left: 17px;
    display: inline-block;
    vertical-align: middle;
}

#encabezado {
    height: 152px;
    background-color:#0574b5;
}

#menu{
    height: 63px;
}

#contenido{
    height: 735px;
    width: 1200px;

}


#pie{
    height: 120px;
    justify-content: center;
    align-items: center;
    
}


#contgen{
    display: flex;
}

#cont1{
    flex: 1;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}  

#cont2{
    flex: 2;
    margin-left: 20px;
    margin-right: 20px;
}

.img2{
    padding: 0px;
    margin: 0px;
}

.articulos{
    width: 556px;
    height: 350px;
}

.textoNoticias{
    font-size: 21px;
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
.articuloNoticias{
    margin: 10px;
    padding: 5px;
    margin-bottom: 50px;
    border-radius: 5px;

}

#ModificarProductos{
    margin-left: 40px;
    font-size: 21px;
}

label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#inputNombre{
    width: 370px;
    height: 34px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-radius: 5px;
}

#inputCodigo{
    width: 60px;
    height: 34px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 5px;
}

#inputPrecio{
    width: 370px;
    height: 34px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-radius: 5px;
}

#inputDescripcion{
    width: 370px;
    height: 34px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-radius: 5px;
}

#txtUrl{
    width: 370px;
    height: 34px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-radius: 5px;
}


button{
    width: 370px;
    height: 40px;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
    background-color: #d3f5cc;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: -1px 0 10px #0000001a, 1px 0 10px #0000001a;

}



table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    margin-top: 30px;

    box-shadow: -1px 0 10px #0000004f, 1px 0 10px #00000055;

  }
  
  th, td {
    text-align: left;
    padding: 8px 12px;
    border: 1px solid black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    
  }
  
  th {
    background-color: rgb(69, 146, 182);
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border: 1px solid black;
  }
  